<%- include("../head") %>
<body>
<%- include("../navbar") %>

<div class="container">
 
    <h1>Privacy Policy</h1>  
    <h3>About GDPR</h3>
    <p>The General Data Protection Regulation (GDPR) is an EU law on data protection and privacy. 
       From 25th of May 2018, the GDPR applies on all personal data that is handled within the</p>
    <p>borders of the EU or relates to individuals in EU – no matter where the organization handling 
     the data is located.</p>
    <br/>
    <p>The main aim of the GDPR is to unify and simplify the regulatory environment and 
     to strengthen the data protection of individuals in the same way across the EU. 
     For individuals, this means</p>
    <p>increased control over their personal data,
      and to businesses active in Europe the GDPR comes with additional requirements
       on how to handle personal data.</p>
    <br/>
    <h2>Who are we?</h2>
    <br/>
    <p>Best Pet Shop Ever is a GREEK registered company that wholly owns 
       and operates the website www.bestpetshopever.gr Petshop Direct treats the handling
       of personal data seriously when you</p>
    <p>isit or make a purchase from www.bestpetshopever.gr (the site”).</p>
    <br/>
    <p>We appreciate your interest in our website (our “Site”). 
       Privacy protection is very important to us and we are committed to protecting you
      and respecting your privacy. This privacy notice</p>
    <p>sets out information about how we collect, store, process, transfer, 
       share and use data that identifies or is associated with you 
       (hereinafter “personal information”).</p>
    <br/>
    <p>This Privacy Policy details how Petshop Direct will treat your personal data 
       after it has been collected through its website, together with details on the
       type of information we may collect</p>
    <p>from you. Petshop Direct will only use your data as detailed in this Privacy Policy
       or for its legitimate business reasons.</p>
    <br/>
    <p>You should also be aware that we use cookies to store and access information whilst
       providing access to our site or our app. You can find out more about our use of cookies 
       in our cookie</p>
    <p>section.</p>
    <p>If you have any questions about how we Protect Your Privacy, drop us an email at
       info@bestpetshopever</p>
    <br/>
    <ul>
     <li>When you visit our website and use your account to buy products.</li>
     <li>When you make an online purchase and check out as a guest (in which case we 
         just collect transaction-based data).</li>
     <li>When you create an account with us.</li>
     <li>When you engage with us on social media.</li>
     <li>When you contact us by any means with queries, complaints etc.</li>
     <li>When you choose to complete any surveys we send you. </li>
     <li>When you comment on or review our products and services.</li>
    </ul>
    <br/>
    <h3>PERSONAL INFORMATION WE COLLECT</h3>
    <br/>
    <p>What sort of personal data do we collect?</p>
    <br/>
    <ul>
     <li>If you have a web account with us: your name, gender, billing/delivery address,
         orders and receipts, email and telephone number. For your security, 
         we’ll also keep an encrypted record
         of your login password.</li>
     <li>Information gathered by the use of cookies in your web browser. </li>
     <li>Your comments and product reviews. </li>
     <li>Your social media username, if you interact with us through those channels,
         to help us respond to your comments, questions or feedback.</li>
    </ul>
    <br/>
    <p>We at best pet shop ever Direct care about our customers, and that means we care about you
       and your privacy.  We always collect personal information responsibly and with your 
       privacy in mind.</p>
    <br/>
    <p>It is important to us that you are aware of how we handle your personal information. 
       When you visit the Site, we automatically collect certain information about your device,
       including information about your web browser, IP address, time zone, 
       and some of the cookies that are installed on your device.</p>
    <br/>
    <p>Additionally, as you browse the Site, we collect information about the individual web pages
      or products that you view, what websites or search terms referred you to the Site, 
      and information about how you interact with the Site. We refer to this automatically-collected 
      information as “Device Information.”</p>
    <br/>
    <p>We collect <b>Device Information</b> using the following technologies:</p>
    <ul>
     <li> “Cookies” are data files that are placed on your device or computer
          and often include an anonymous unique identifier. For more information about cookies,
          and how to disable cookies,
          visit http://www.allaboutcookies.org.</li>
     <li>“Log files” track actions occurring on the Site, and collect data 
          including your IP address, browser type,
          Internet service provider, referring/exit pages, and date/time stamps.</li>
     <li> “Web beacons,” “tags,” and “pixels” are electronic files 
          used to record information about how you browse the Site.</li>
   </ul>
   <br/>
   <p>dditionally, when you make a purchase or attempt to make a purchase through the Site, 
      we collect certain information from you, including your name, billing address,
      shipping address, payment information), email address, and phone number.
      We refer to this information as “Order Information.”</p>
    <br/>
    <p>When we talk about “Personal Information” in this Privacy Policy,
       we are talking both about Device Information and Order Information.
    </p>
    <br/>
    <h3>When we talk about “Personal Information” in this Privacy Policy, 
        we are talking both about Device Information and Order Information.</h3>
    <br/>
    <p>We use the Order Information that we collect generally to fulfil any orders placed through 
       the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations). 
       Additionally, we use this Order Information to:</p>
    <br/>
    <ul>
     <li>To process any orders that you make by using our website. If we don’t collect your personal data during checkout, 
         we won’t be able to process your order and comply with our legal obligations.</li>
    </ul>
    <br/>
    <ul>
     <li>To respond to your queries, refund requests and complaints. 
         Handling the information you sent enables us to respond. 
         We may also keep a record of these to inform any future communication with us
         and to demonstrate how we communicated with you throughout. </li>
     <li>To protect our business and your account from fraud and other illegal activities. 
         This includes using your personal data to maintain, update and safeguard your account.
         We’ll also monitor your browsing activity with us to quickly identify
         and resolve any problems and protect the integrity of our websites. </li>
     <li>To process payments and to prevent fraudulent transactions. 
         We do this on the basis of our legitimate business interests.
         This also helps to protect our customers from fraud.</li>
     <li>With your consent, we will use your personal data, 
         preferences and details of your transactions
         to keep you informed by email, web, text, telephone about relevant products including 
         special offers, discounts, promotions etc.</li>
    </ul>
    <p>We use the Device Information that we collect to help us screen for potential risk 
       and fraud (in particular, your IP address), and more generally to improve and optimize
       our Site (for example, by generating analytics about how our customers browse
       and interact with the Site, and to assess the success of our marketing 
       and advertising campaigns).</p>
    <br/>
    <p>The data privacy law allows this as part of our legitimate interest
      in understanding our customers and providing the highest levels of service.</p>
    <br/>
    <p>Remember, if you choose not to share your personal data with us, 
       or refuse certain contact permissions, we might not be able to
       complete a purchase on our website.</p>
    <br/>
    <p>For example, if you’ve asked us to let you know when an item comes back into stock, 
     we can’t do that if you’ve withdrawn your general consent to hear from us. Of course, 
     you are free to opt-out of hearing from us by any of these channels at any time.</p>
    <br/>
    <h3>How we protect your personal data</h3>
    <br/>
    <p>We know how much data security matters to all our customers. 
     Keeping this in mind we will treat your data with the utmost care and 
     take all appropriate steps to protect it.</p>
    <br/>
    <p>We secure access to all transactional areas of our websites ‘https’ technology.</p>
    <br/>
    <p>Access to your personal data is password-protected, 
       and sensitive data such as payment card information) 
       is secured and tokenised to ensure it is protected.</p>
    <br/>
    <p>We regularly monitor our system for possible vulnerabilities and attacks,
       and we carry out penetration testing to identify ways to further strengthen security.</p>
    <br/>
    <h3>How long will we keep your personal data?</h3>
    <br/>
    <p>Whenever we collect or process your personal data, 
       we’ll keep the personal data you give us for 6 years so we can comply with our legal obligations. 
       At the end of that retention period, your data will be deleted completely.</p>
    <br/>
    <h3>Who do we share your personal data with?</h3>
    <br/>
    <p>We sometimes share your personal data with trusted third parties. 
       Here’s the policy we apply to those organisations to keep your data safe 
       and protect your privacy:</p>
    <br/>
    <ul>
     <li>We provide only the information they need to perform their specific services.</li>
     <li>They may only use your data for the exact purposes we specify in our contract with them.</li>
     <li>We work closely with them to ensure that your privacy is respected and protected at all times.</li>
     <li>If we stop using their services, any of your data held by them will either be deleted or 
         rendered anonymous.</li>
    </ul>
    <br/>
    <p>Examples of the kind of third parties we work with are:</p>
    <br/>
    <ul>
     <li>IT company who support our website and the business systems.</li>
     <li>Operational companies such as delivery couriers.</li>
     <li>For fraud management, we may share information about fraudulent or potentially 
         fraudulent activity in systems. This may include sharing data about 
         individuals with law enforcement bodies.</li>
     <li>We may also be required to disclose your personal data to the police or 
         other enforcement, regulatory or Government body, 
         in your country of origin or elsewhere,
          upon a valid request to do so. 
          These requests are assessed on 
          a case-by-case basis and take the privacy of our customers into consideration.
     </li>
    </ul>
    <br/>
    <p>However, certain third-party service providers, 
        such as payment gateways and other payment transaction processors,
         have their own privacy policies with respect to the information
          we are required to provide to them for your purchase-related transactions.
           For these providers, we recommend that you read their privacy policies 
           so you can understand the manner in which your personal information will
            be handled by these providers.

        What are your rights over your personal data?</p>
    <br/>
    <h3>What are your rights over your personal data?<h3/>
    <br/>
    <p>You have the right to request:</p>
    <br/>
    <ul>
     <li>Access to the personal data we hold about you, free of charge.</li>
     <li>The correction of your personal data when incorrect, out of date or incomplete.</li>
     <li>That we stop processing your personal data, in specific circumstances; 
         for example, when you have withdrawn consent.</li>
     <li>You can contact us to request to exercise these rights at any time by contacting 
         by emailing us at info@petshopdirect.co.uk or by post at Petshop Direct, 
         Unit 16E Mimram Road, Hertford, SG14 1NN, United Kingdom</li>
    </ul>
    <br/>
    <h3>Your right to withdraw consent</h3>
    <br/>
    <p>Whenever you have given us your consent to use your personal data, 
     you have the right to change your mind at any time and withdraw that consent.</p>
    <br/>
    <h3>AGE OF CONSENT</h3>
    <br/>
    <p>By using this site, you represent that you are at least the age of majority in your
      state or province of residence, or that you are the age of majority in your state
       or province of residence and you have given us your consent to allow any of your
        minor dependents to use this site.</p>
    <br/>
    <h3>CHANGES TO THIS PRIVACY POLICY</h3>
    <br/>
    <p>We reserve the right to modify this privacy policy at any time, 
     so please review it frequently. Changes and clarifications will take effect immediately 
     upon their posting on the website. If we make material changes to this policy,
      we will notify you here that it has been updated, so that you are aware of what
       information we collect, how we use it, and under what circumstances, 
       if any, we use and/or disclose it. Once you leave our store’s website or are redirected
        to a third-party website or application, you are no longer governed 
        by this Privacy Policy or our website’s Terms of Service.</p>
    <br/>
    <h3>QUESTIONS AND CONTACT INFORMATION</h3>
    <br/>
    <p>If you would like to: access, correct, amend, or delete
      any personal information we have about you, register a complaint, 
      or simply want more information contact our Privacy Compliance Officer 
      at info@bestpetshopever.com
      by mail at Petshop Direct, 
       [Re: Privacy Compliance Officer] [ Petshop Direct, Petshop Direct, Athens, Greece,  
       tripolis 13]</p>
    <br/>
    <p></p>
    </div>

<%- include("../footer") %>
<%- include("../scripts") %>

</body>

 <!-- <br>
 <footer>
     <div class="container">
         <div class="row">
             <div class="col-md-3">
                 <h4>Column 1</h4>
                 <ul class="list-unstyled">
                     <li><a href="ways-to-order">Ways to order</a></li>
                     <li><a href="/ourteam">Our team</a></li>
                     <li><a href="#">Link 3</a></li>
                     <li><a href="#">Link 4</a></li>
                 </ul>
             </div>
             <div class="col-md-3">
                 <h4>Column 2</h4>
                 <ul class="list-unstyled">
                     <li><a href="#">Link 1</a></li>
                     <li><a href="#">Link 2</a></li>
                     <li><a href="#">Link 3</a></li>
                     <li><a href="#">Link 4</a></li>
                 </ul>
             </div>
             <div class="col-md-3">
                 <h4>Column 3</h4>
                 <ul class="list-unstyled">
                     <li><a href="#">Link 1</a></li>
                     <li><a href="#">Link 2</a></li>
                     <li><a href="#">Link 3</a></li>
                     <li><a href="#">Link 4</a></li>
                 </ul>
             </div>
             <div class="col-md-3">
                 <h4>Column 4</h4>
                 <ul class="list-unstyled">
                     <li><a href="#">Link 1</a></li>
                     <li><a href="#">Link 2</a></li>
                     <li><a href="#">Link 3</a></li>
                     <li><a href="#">Link 4</a></li>
                 </ul>
             </div>
         </div>
     </div>
 </footer>


 <script src="https://code.jquery.com/jquery-3.6.0.min.js"
     integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
     integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
     crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
     integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
     crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.js"
     integrity="sha512-TzEbpWGuI80KQp8FnTlCdf7PXHBCI4CogODFv64x8Qd7ElSbRvO6Vc1B34RL/rgiTZpz8nAPa1Lal1dJrMFo+A=="
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="script.js"></script>
 <%- include("../scripts") %>
</body> -->