<%- include("head") %>

   <body>
      <%- include("navbar") %>
         <h2 class="text-center">Cat Products</h2>
         <hr>
         <h3 class="text-center">Foods</h3>
         <hr>
         <h5 id="dryfoods" class="text-center">Dry Foods</h5>
         <div class="row">
            <%dryFood.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogcans" class="text-center">Dog Cans</h5>
         <div class="row">
            <%dogCans.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogtreats" class="text-center">Dog Treats & Chews</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h3 class="text-center">Dog Grooming</h3>
         <hr>
         <h5 id="dogdiapers" class="text-center">Dog Diapers</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogpoopbags" class="text-center">Dog Poop Bags</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="fleaandwormers" class="text-center">Flea And Wormers For Dogs</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogshampoo" class="text-center">Dog Shampoo</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="brachescombs" class="text-center">Dog Braches & Combs</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="scissorsclippers" class="text-center">Dog Scissors & Clippers</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="perfumesfragrances" class="text-center">Dog Perfumes & Fragrances</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h3 class="text-center">DOG ACCESORIES</h3>
         <hr>
         <h5 id="dogtoys" class="text-center">Dog Toys</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogclothes" class="text-center">Dog Clothes</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogcollars" class="text-center">Dog Collars</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="bowlsfeeding" class="text-center">Dog Bowls & Feeding</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogleads" class="text-center">Dog Leads</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogharness" class="text-center">Dog Harness</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogmuzle" class="text-center">Dog Muzle</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="transportboxes" class="text-center">Dog Transport Boxes</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="dogbeds" class="text-center">Dog Beds</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="doghouses" class="text-center">Dog Houses</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h3 class="text-center">VETERINARY PRODUCTS</h3>
         <hr>
         <h5 id="antiparassiticsfordogs" class="text-center">Antiparassitics For Dogs</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="antibioticsfordogs" class="text-center">Antibiotics For Dogs</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="woundcare" class="text-center">Wound Care</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

         <hr>
         <h5 id="vitamins" class="text-center">Vitamins, Mineral & Electrolyte Suppliments</h5>
         <div class="row">
            <%dogTreats.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>

   </body>
   <%- include("scripts") %>