<%- include("../head") %>

   <body>
      <%- include("../navbar") %>
         <h2 class="text-center">Dog Products</h2>
         <hr>
         <h3 class="text-center capitalize">
            <%= category.replace(/-/g, " " ) %>
         </h3>
         <hr>
         <div class="row">
            <%dogProducts.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/dogs/<%= category %>/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>
         <%-include("../footer") %>
   </body>
   <%- include("../scripts") %>