<%- include("head") %>

   <body>
      <%- include("navbar") %>
         <h2 class="text-center">Dog Products</h2>
         <hr>
         <h3 class="text-center">Dog Grooming</h3>
         <hr>
         <h5 id="dryfoods" class="text-center">Grooming</h5>
         <div class="row">
            <%dogGrooming.forEach((product)=> { %>
               <div class="col-md-3 myProductBox">
                  <img src="/img/product_images/dogs/grooming/<%=product.image_name%>" alt="purina veterinary" />
                  <h4>
                     <%= product.name %>
                  </h4>
                  <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                     Cart</button>
               </div>
               <%})%>
         </div>
   </body>
   <%- include("scripts") %>