<%- include("../head") %>

<body>
    <%- include("../navbar") %>

    <div class="col-md-3">
        <div class="t-products p-2">
            <h6 class="text-uppercase">FOODS</h6>
            <div class="p-lists">
                <div class="d-flex justify-content-between mt-2">
                    <span>Dry Foods</span> <span>23</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <span>Dog Cans</span> <span>46</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <span>Dog Treats & Chews</span> <span>13</span>
                </div>
            
            </div>
        </div>
        <div class="processor p-2">
            <div class="heading d-flex justify-content-between align-items-center">
                <h6 class="text-uppercase">Processor</h6>
                <span>--</span>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Intel Core i7
                    </label>
                </div>
                <span>3</span>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label" for="flexCheckChecked">
                        Intel Core i6
                    </label>
                </div>
                <span>4</span>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label" for="flexCheckChecked">
                        Intel Core i3
                    </label>
                </div>
                <span>14</span>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label" for="flexCheckChecked">
                        Intel Centron
                    </label>
                </div>
                <span>8</span>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label" for="flexCheckChecked">
                        Intel Pentinum
                    </label>
                </div>
                <span>14</span>
            </div>
        </div>

        
    <div class="row">
        <%dogFood.forEach((product)=> { %>
           <div class="col-md-3 myProductBox">
              <img src="/img/product_images/dogs/dog_food/<%=product.image_name%>" alt="purina veterinary" />
              <h4>
                 <%= product.name %>
              </h4>
              <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                 Cart</button>
           </div>
           <%})%>
     </div>




     <%- include("../scripts") %>
</body>